body {
  background: rgb(241, 241, 241);
}

Nav {
  background-color: #fff;
}

Nav .profile-modal {
  position: absolute;
  bottom: -170px;
  right: 30px;
  width: 150px;
  z-index: 100;
}

Nav .card .navbar-nav {
  display: flex;
  flex-direction: column;
}

Nav .group {
  display: flex;
  align-items: center;
}

Nav .group > input,
i {
  border: none;
  background-color: rgb(241, 241, 241);
}

Nav .group > input {
  font-size: 12px;
  padding: 0.32rem;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  width: 169px;
}

Nav .group > i {
  font-size: 12px;
  padding: 0.51rem;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

Nav .nav-link > .notification {
  display: flex;
  position: relative;
}

Nav .nav-link > .notification > span {
  font-size: 10px;
  color: #fff;
  background: rgb(228, 103, 103);
  border-radius: 100%;
  width: 15px;
  height: 15px;
  text-align: center;
  position: absolute;
  bottom: 18px;
  left: 18px;
}

.sidebar {
  background: #2762bd;
  width: 17.2%;
  min-height: 91.5vh;
  color: #fff;
  position: relative;
}

.sidebar .go-back {
  position: absolute;
  bottom: 10px;
  right: 15px;
}

.sidebar ul {
  list-style: none;
  padding-top: 2rem;
}

.sidebar a {
  color: #fff;
  text-decoration: none;
}

.main {
  width: 82.8%;
  margin: 1rem;
}

.main .card-header,
.main .card {
  background: #fff;
  border: none;
}

.main .btn-link {
  color: #000;
  text-decoration: none;
  font-weight: 500;
}

.main .kpi-title {
  font-weight: 500;
  margin-bottom: 1rem;
}

.main th, .main td {
  font-weight: normal;
  font-size: 14px;
}

.main th {
    width: 10%;
}

.main td {
    width: 90%;
}

.main table {
    border-bottom: 1px solid #000;
    width: 100%;
}
